<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main>
        <!-- Matriz -->
        <ul>
            <li v-for="dia in laborales">
                {{ dia }}
            </li>
        </ul>
        <!-- Matriz de objetos (collection) -->
        <ul>
            <li v-for="(tarea, index) in tareas">
                [{{ index }}] {{ tarea.nombre }} <small>({{ tarea.prioridad }})</small>
            </li>
        </ul>
        <!-- Objecto -->
        <ul>
            <li v-for="(value, key, index) in persona">
                {{ index }} - {{ key }} : {{ value }}
            </li>
        </ul>
        <pre>{{ $data }}</pre>
    </main>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>